<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinshi.mapper.CarMapper">
  <resultMap id="BaseResultMap" type="com.jinshi.entity.Car">
    <id column="lp_id" jdbcType="INTEGER" property="lpId" />
    <result column="lp_member_id_car" jdbcType="VARCHAR" property="lpMemberIdCar" />
    <result column="lp_lincense_plate_id_car" jdbcType="VARCHAR" property="lpLincensePlateIdCar" />
    <result column="lp_service_type_car" jdbcType="INTEGER" property="lpServiceTypeCar" />
    <result column="lp_inbound_time" jdbcType="TIMESTAMP" property="lpInboundTime" />
    <result column="lp_departure_time" jdbcType="TIMESTAMP" property="lpDepartureTime" />
    <result column="lp_rent_time" jdbcType="VARCHAR" property="lpRentTime" />
    <result column="lp_create_time" jdbcType="TIMESTAMP" property="lpCreateTime" />
    <result column="lp_order_id" jdbcType="VARCHAR" property="lpOrderId" />
    <result column="lp_car_type" jdbcType="VARCHAR" property="lpCarType" />
    <result column="lp_car_color" jdbcType="VARCHAR" property="lpCarColor" />
    <result column="lp_lincense_type" jdbcType="VARCHAR" property="lpLincenseType" />
    <result column="lp_parking_often" jdbcType="VARCHAR" property="lpParkingOften" />
    <result column="lp_parking_cost" jdbcType="VARCHAR" property="lpParkingCost" />
    <result column="lp_inbound_cname" jdbcType="VARCHAR" property="lpInboundCname" />
    <result column="lp_departure_cname" jdbcType="VARCHAR" property="lpDepartureCname" />
    <result column="lp_parking_name" jdbcType="VARCHAR" property="lpParkingName" />
    <result column="lp_agent_name" jdbcType="VARCHAR" property="lpAgentName" />
    <result column="lp_order_state" jdbcType="VARCHAR" property="lpOrderState" />
    <result column="lp_payment_type" jdbcType="VARCHAR" property="lpPaymentType" />
  </resultMap>
  <sql id="Base_Column_List">
    lp_id, lp_member_id_car, lp_lincense_plate_id_car, lp_service_type_car, lp_inbound_time, 
    lp_departure_time, lp_rent_time, lp_create_time, lp_order_id, lp_car_type, lp_car_color, 
    lp_lincense_type, lp_parking_often, lp_parking_cost, lp_inbound_cname, lp_departure_cname, 
    lp_parking_name, lp_agent_name, lp_order_state, lp_payment_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car
    where lp_id = #{lpId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car
    where lp_id = #{lpId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jinshi.entity.Car">
    insert into car (lp_id, lp_member_id_car, lp_lincense_plate_id_car, 
      lp_service_type_car, lp_inbound_time, lp_departure_time, 
      lp_rent_time, lp_create_time, lp_order_id, 
      lp_car_type, lp_car_color, lp_lincense_type, 
      lp_parking_often, lp_parking_cost, lp_inbound_cname, 
      lp_departure_cname, lp_parking_name, lp_agent_name, 
      lp_order_state, lp_payment_type)
    values (#{lpId,jdbcType=INTEGER}, #{lpMemberIdCar,jdbcType=VARCHAR}, #{lpLincensePlateIdCar,jdbcType=VARCHAR}, 
      #{lpServiceTypeCar,jdbcType=INTEGER}, #{lpInboundTime,jdbcType=TIMESTAMP}, #{lpDepartureTime,jdbcType=TIMESTAMP}, 
      #{lpRentTime,jdbcType=VARCHAR}, #{lpCreateTime,jdbcType=TIMESTAMP}, #{lpOrderId,jdbcType=VARCHAR}, 
      #{lpCarType,jdbcType=VARCHAR}, #{lpCarColor,jdbcType=VARCHAR}, #{lpLincenseType,jdbcType=VARCHAR}, 
      #{lpParkingOften,jdbcType=VARCHAR}, #{lpParkingCost,jdbcType=VARCHAR}, #{lpInboundCname,jdbcType=VARCHAR}, 
      #{lpDepartureCname,jdbcType=VARCHAR}, #{lpParkingName,jdbcType=VARCHAR}, #{lpAgentName,jdbcType=VARCHAR}, 
      #{lpOrderState,jdbcType=VARCHAR}, #{lpPaymentType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jinshi.entity.Car">
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lpId != null">
        lp_id,
      </if>
      <if test="lpMemberIdCar != null">
        lp_member_id_car,
      </if>
      <if test="lpLincensePlateIdCar != null">
        lp_lincense_plate_id_car,
      </if>
      <if test="lpServiceTypeCar != null">
        lp_service_type_car,
      </if>
      <if test="lpInboundTime != null">
        lp_inbound_time,
      </if>
      <if test="lpDepartureTime != null">
        lp_departure_time,
      </if>
      <if test="lpRentTime != null">
        lp_rent_time,
      </if>
      <if test="lpCreateTime != null">
        lp_create_time,
      </if>
      <if test="lpOrderId != null">
        lp_order_id,
      </if>
      <if test="lpCarType != null">
        lp_car_type,
      </if>
      <if test="lpCarColor != null">
        lp_car_color,
      </if>
      <if test="lpLincenseType != null">
        lp_lincense_type,
      </if>
      <if test="lpParkingOften != null">
        lp_parking_often,
      </if>
      <if test="lpParkingCost != null">
        lp_parking_cost,
      </if>
      <if test="lpInboundCname != null">
        lp_inbound_cname,
      </if>
      <if test="lpDepartureCname != null">
        lp_departure_cname,
      </if>
      <if test="lpParkingName != null">
        lp_parking_name,
      </if>
      <if test="lpAgentName != null">
        lp_agent_name,
      </if>
      <if test="lpOrderState != null">
        lp_order_state,
      </if>
      <if test="lpPaymentType != null">
        lp_payment_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lpId != null">
        #{lpId,jdbcType=INTEGER},
      </if>
      <if test="lpMemberIdCar != null">
        #{lpMemberIdCar,jdbcType=VARCHAR},
      </if>
      <if test="lpLincensePlateIdCar != null">
        #{lpLincensePlateIdCar,jdbcType=VARCHAR},
      </if>
      <if test="lpServiceTypeCar != null">
        #{lpServiceTypeCar,jdbcType=INTEGER},
      </if>
      <if test="lpInboundTime != null">
        #{lpInboundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lpDepartureTime != null">
        #{lpDepartureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lpRentTime != null">
        #{lpRentTime,jdbcType=VARCHAR},
      </if>
      <if test="lpCreateTime != null">
        #{lpCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lpOrderId != null">
        #{lpOrderId,jdbcType=VARCHAR},
      </if>
      <if test="lpCarType != null">
        #{lpCarType,jdbcType=VARCHAR},
      </if>
      <if test="lpCarColor != null">
        #{lpCarColor,jdbcType=VARCHAR},
      </if>
      <if test="lpLincenseType != null">
        #{lpLincenseType,jdbcType=VARCHAR},
      </if>
      <if test="lpParkingOften != null">
        #{lpParkingOften,jdbcType=VARCHAR},
      </if>
      <if test="lpParkingCost != null">
        #{lpParkingCost,jdbcType=VARCHAR},
      </if>
      <if test="lpInboundCname != null">
        #{lpInboundCname,jdbcType=VARCHAR},
      </if>
      <if test="lpDepartureCname != null">
        #{lpDepartureCname,jdbcType=VARCHAR},
      </if>
      <if test="lpParkingName != null">
        #{lpParkingName,jdbcType=VARCHAR},
      </if>
      <if test="lpAgentName != null">
        #{lpAgentName,jdbcType=VARCHAR},
      </if>
      <if test="lpOrderState != null">
        #{lpOrderState,jdbcType=VARCHAR},
      </if>
      <if test="lpPaymentType != null">
        #{lpPaymentType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinshi.entity.Car">
    update car
    <set>
      <if test="lpMemberIdCar != null">
        lp_member_id_car = #{lpMemberIdCar,jdbcType=VARCHAR},
      </if>
      <if test="lpLincensePlateIdCar != null">
        lp_lincense_plate_id_car = #{lpLincensePlateIdCar,jdbcType=VARCHAR},
      </if>
      <if test="lpServiceTypeCar != null">
        lp_service_type_car = #{lpServiceTypeCar,jdbcType=INTEGER},
      </if>
      <if test="lpInboundTime != null">
        lp_inbound_time = #{lpInboundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lpDepartureTime != null">
        lp_departure_time = #{lpDepartureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lpRentTime != null">
        lp_rent_time = #{lpRentTime,jdbcType=VARCHAR},
      </if>
      <if test="lpCreateTime != null">
        lp_create_time = #{lpCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lpOrderId != null">
        lp_order_id = #{lpOrderId,jdbcType=VARCHAR},
      </if>
      <if test="lpCarType != null">
        lp_car_type = #{lpCarType,jdbcType=VARCHAR},
      </if>
      <if test="lpCarColor != null">
        lp_car_color = #{lpCarColor,jdbcType=VARCHAR},
      </if>
      <if test="lpLincenseType != null">
        lp_lincense_type = #{lpLincenseType,jdbcType=VARCHAR},
      </if>
      <if test="lpParkingOften != null">
        lp_parking_often = #{lpParkingOften,jdbcType=VARCHAR},
      </if>
      <if test="lpParkingCost != null">
        lp_parking_cost = #{lpParkingCost,jdbcType=VARCHAR},
      </if>
      <if test="lpInboundCname != null">
        lp_inbound_cname = #{lpInboundCname,jdbcType=VARCHAR},
      </if>
      <if test="lpDepartureCname != null">
        lp_departure_cname = #{lpDepartureCname,jdbcType=VARCHAR},
      </if>
      <if test="lpParkingName != null">
        lp_parking_name = #{lpParkingName,jdbcType=VARCHAR},
      </if>
      <if test="lpAgentName != null">
        lp_agent_name = #{lpAgentName,jdbcType=VARCHAR},
      </if>
      <if test="lpOrderState != null">
        lp_order_state = #{lpOrderState,jdbcType=VARCHAR},
      </if>
      <if test="lpPaymentType != null">
        lp_payment_type = #{lpPaymentType,jdbcType=VARCHAR},
      </if>
    </set>
    where lp_id = #{lpId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinshi.entity.Car">
    update car
    set lp_member_id_car = #{lpMemberIdCar,jdbcType=VARCHAR},
      lp_lincense_plate_id_car = #{lpLincensePlateIdCar,jdbcType=VARCHAR},
      lp_service_type_car = #{lpServiceTypeCar,jdbcType=INTEGER},
      lp_inbound_time = #{lpInboundTime,jdbcType=TIMESTAMP},
      lp_departure_time = #{lpDepartureTime,jdbcType=TIMESTAMP},
      lp_rent_time = #{lpRentTime,jdbcType=VARCHAR},
      lp_create_time = #{lpCreateTime,jdbcType=TIMESTAMP},
      lp_order_id = #{lpOrderId,jdbcType=VARCHAR},
      lp_car_type = #{lpCarType,jdbcType=VARCHAR},
      lp_car_color = #{lpCarColor,jdbcType=VARCHAR},
      lp_lincense_type = #{lpLincenseType,jdbcType=VARCHAR},
      lp_parking_often = #{lpParkingOften,jdbcType=VARCHAR},
      lp_parking_cost = #{lpParkingCost,jdbcType=VARCHAR},
      lp_inbound_cname = #{lpInboundCname,jdbcType=VARCHAR},
      lp_departure_cname = #{lpDepartureCname,jdbcType=VARCHAR},
      lp_parking_name = #{lpParkingName,jdbcType=VARCHAR},
      lp_agent_name = #{lpAgentName,jdbcType=VARCHAR},
      lp_order_state = #{lpOrderState,jdbcType=VARCHAR},
      lp_payment_type = #{lpPaymentType,jdbcType=VARCHAR}
    where lp_id = #{lpId,jdbcType=INTEGER}
  </update>
</mapper>