<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinshi.mapper.JinshiWebMapper">
  <resultMap id="BaseResultMap" type="com.jinshi.entity.JinshiWeb">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="index" jdbcType="VARCHAR" property="index" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="subs" jdbcType="VARCHAR" property="subs" />
  </resultMap>
    <resultMap id="BaseResultMapAll" type="com.jinshi.entity.JinshiWebSonAll">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="index" jdbcType="VARCHAR" property="index" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="subs" jdbcType="VARCHAR" property="subs" />
        <result column="indexSon" jdbcType="VARCHAR" property="indexSon" />
        <result column="titleSon" jdbcType="VARCHAR" property="titleSon" />
        <result column="webid" jdbcType="VARCHAR" property="webid" />
    </resultMap>
  <sql id="Base_Column_List">
    id, icon, index, title, subs
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jinshi_web
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="java.lang.Integer" resultType="com.jinshi.entity.JinshiWeb">
    select
    id,title
    from jinshi_web
  </select>
  <select id="selectData" parameterType="java.lang.Integer" resultType="com.jinshi.entity.JinshiWeb">
    select * from jinshi_web
  </select>

  <select id="selectById" parameterType="java.lang.Integer" resultType="com.jinshi.entity.JinshiWebSonAll">
    select * from jinshi_web where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectSub" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select subs from jinshi_web where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectList" parameterType="java.lang.Integer" resultType="com.jinshi.entity.JinshiWebSonAll">
    select
       jw.id,jw.icon,jw.index,
       jw.title,jc.index,jc.title,
       jc.webid
     from jinshi_web as jw
     left join jinshi_webson as jc
     on jw.id = jc.webid
     where jw.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jinshi_web
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jinshi.entity.JinshiWeb">
    insert into jinshi_web (id, icon, index, 
      title, subs)
    values (#{id,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, #{index,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{subs,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jinshi.entity.JinshiWeb">
    insert into jinshi_web
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="index != null">
        index,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="subs != null">
        subs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="index != null">
        #{index,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="subs != null">
        #{subs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinshi.entity.JinshiWeb">
    update jinshi_web
    <set>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="index != null">
        index = #{index,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subs != null">
        subs = #{subs,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinshi.entity.JinshiWeb">
    update jinshi_web
    set icon = #{icon,jdbcType=VARCHAR},
      index = #{index,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      subs = #{subs,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>